.header {
  margin: 16px 0;
}

.header .logo {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin: 0 24px 0 0;
  vertical-align: middle;
}

.header .title {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 28px;
}
